<div class="container-fluid">
  <section class="timeline">
    <ul>
      <li>
        <div>
          <time class="job-date">08.2017 - 12.2017</time>
          <time class="job-name">
            <span class="job-highlight">Research Assistant</span> at UNC Charlotte</time>
          <time class="job-desc">
            <i class="fa fa-circle"></i> Web Application Development
            <br>
            <i class="fa fa-circle"></i> Java, Spring, MySql
            <br>
            <i class="fa fa-circle"></i> Angular
          </time>
        </div>
      </li>
      <li>
        <div>
          <time class="job-date">05.2015 - 06.2016</time>
          <time class="job-name">
            <span class="job-highlight">Member Technical Staff</span> at Zoho Corporation</time>
          <time class="job-desc">
            <i class="fa fa-circle"></i> Responsible for Design and Development of inherent Features  for AlarmsOne
            <br>
            <i class="fa fa-circle"></i> Developed Notification Profiles Feature
            <br>
            <i class="fa fa-circle"></i> Engineered On-Call Schedules Feature
            <br>
            <i class="fa fa-circle"></i> Developed Rest APIs
            <br>
            <i class="fa fa-circle"></i> Worked on Elastic Search
            <br>
            <i class="fa fa-circle"></i> Java/J2EE, Struts, MySql, HTML, CSS, Javascript
            <br>

          </time>
        </div>
      </li>
      <li>
        <div>
          <time class="job-date">12.2014 - 05.2015</time>
          <time class="job-name">
            <span class="job-highlight">Intern </span> at Zoho Corporation</time>
          <time class="job-desc">
            <i class="fa fa-circle"></i> Developed Job Scheduler Module
            <br>
            <i class="fa fa-circle"></i> Integrated AlarmsOne with Monitis
            <br>
            <i class="fa fa-circle"></i> Developed Rest APIs
            <br>
            <i class="fa fa-circle"></i> Added Auto-Upgradation for AlarmPoller
            <br>
            <i class="fa fa-circle"></i> Java/J2EE, Struts, MySql
            <br>
          </time>
        </div>
      </li>

    </ul>
  </section>

</div>