<div class="container-fluid">
  <div class="card-deck">
    <div class="card text-center">
      <img class="card-img-top" src="assets/images/p1.png">
      <div class="card-body ">
        <hr class="style-three">
        <h4 class="card-title">Bank Appointments</h4>
        <p class="card-text">RESTful web services to manage Appointments + client on Android</p>
      </div>
      <div class="card-footer">
        <a target="_blank" rel="noopener" href="https://github.com/pamidi99/ACVM" class="btn btn-primary" style="margin-right:10px;">View Code</a>

      </div>
    </div>
    <div class="card text-center">
      <img class="card-img-top" src="assets/images/p21.png">
      <div class="card-body">
        <hr class="style-three">
        <h4 class="card-title">Defect Reporter</h4>
        <p class="card-text">Web Application to Report Defects of Car</p>
      </div>
      <div class="card-footer">
        <a target="_blank" rel="noopener" href="https://github.com/pamidi99/defectreporter" class="btn btn-primary">View Code</a>
      </div>
    </div>
    <div class="card text-center">

      <img class="card-img-top" src="assets/images/p13.png">
      <div class="card-body">
        <hr class="style-three">
        <h4 class="card-title">Note Keeper</h4>
        <p class="card-text">Android Application for Managing Notes</p>
      </div>
      <div class="card-footer">
        <a target="_blank" rel="noopener" href="https://github.com/pamidi99/NoteKeeperAndroid" class="btn btn-primary">View Code</a>
      </div>
    </div>

  </div>
  <div class="card-deck">
    <div class="card text-center">

      <img class="card-img-top" src="assets/images/p19.png">
      <div class="card-body">
        <hr class="style-three">
        <h4 class="card-title">Cloth Store</h4>
        <p class="card-text">Web Application in Php and MySQL</p>
      </div>
      <div class="card-footer">
        <a target="_blank" rel="noopener" href="https://github.com/pamidi99/clothstore" class="btn btn-primary">View Code</a>
      </div>
    </div>
    <div class="card text-center">
      <img class="card-img-top" src="assets/images/p12.png">
      <div class="card-body">
        <hr class="style-three">
        <h4 class="card-title">Traveler Chat</h4>
        <p class="card-text">Android Application For Travelling Friends to Chat and Plan </p>
      </div>
      <div class="card-footer">
        <a target="_blank" rel="noopener" href="http://github.com/pamidi99/travelerchat" class="btn btn-primary">View Code</a>
      </div>
    </div>
    <div class="card text-center">
      <img class="card-img-top" src="assets/images/p10.png">
      <div class="card-body">
        <hr class="style-three">
        <h4 class="card-title">Car Service</h4>
        <p class="card-text">Restful Web Services </p>
      </div>
      <div class="card-footer">
        <a target="_blank" rel="noopener" href="https://github.com/pamidi99/" class="btn btn-primary">View Code</a>
      </div>
    </div>

  </div>
  <div class="card-deck">
    <div class="card text-center">
      <img class="card-img-top" src="assets/images/p20.png">
      <div class="card-body">
        <hr class="style-three">
        <h4 class="card-title">Trivia Quiz App</h4>
        <p class="card-text">Android Quiz App for Children</p>
      </div>
      <div class="card-footer">
        <a target="_blank" rel="noopener" href="https://github.com/pamidi99/TriviaQuiz-App" class="btn btn-primary">View Code</a>
      </div>
    </div>
    <div class="card text-center">
      <img class="card-img-top" src="assets/images/angular.png">
      <div class="card-body">
        <hr class="style-three">
        <h4 class="card-title">Recipe Book</h4>
        <p class="card-text">Single Page Application in Angular to Manage Recipes</p>
      </div>
      <div class="card-footer">
        <a target="_blank" rel="noopener" href="https://github.com/pamidi99/Angular-RecipeBook" class="btn btn-primary">View Code</a>
      </div>
    </div>
    <div class="card text-center">
      <img class="card-img-top" src="assets/images/p14.png">
      <div class="card-body">
        <hr class="style-three">
        <h4 class="card-title">Portfolio</h4>
        <p class="card-text">The source code of the page you are currently viewing</p>
      </div>
      <div class="card-footer">
        <a target="_blank" rel="noopener" href="https://github.com/pamidi99/portfolio" class="btn btn-primary">View Code</a>
      </div>
    </div>
  </div>
</div>