<div id="section1" class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-lg-7 mx-auto">
			<div class="alert alert-success text-center" *ngIf="authService.user | async">
				<h4 class="mb-0">
					You are logged in as
					<span style="font-weight: bold">
						{{ (authService.user | async)?.email }} !
					</span>
					<p class="pt-2 mb-0">
						Number of messages
						<span class="badge badge-warning">{{ (dashboardContactComponent.messages$ | async)?.length }}</span>
					</p>
				</h4>
			</div>
			<h3>About Me</h3>
			<div class="row mt-5">
				<div class="col-sm-8">
					<div class="text-left">
						<h4 style="text-align: left !important;">Passionate Software Engineer experienced in Developing Web and Mobile Applications </h4>
						<p class="pt-2">
							 You will find here a brief summary of my skills, the tools I use and the course of education and career.
						</p>
						<p>
							Below are a few selected projects in various technologies. Each of them has a link to GitHub, where you will find a detailed description and source code.
						</p>
						<p>
							I started with  C, C ++ , Algorithms and Data Structures - here I got infected with the passion for programming.
							Then I entered the world of Java , J2EE, Struts and Spring and OOP - here I got infected with the Objected Oriented Programming.
							I am currently using the Scala language  and getting acquainted with functional programming.
							In my free time, I solve different types of problems on Hackerrank :)
						</p>
						<p>Check also my other projects on
							<a href="http://github.com/pamidi99" target="_blank" rel="noopener">Github</a>.
						</p>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="mx-auto">
						<img src="assets/images/me.jpg" class="my-photo">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.5}'>
	<img class="jarallax-img" src="assets/images/header.jpg" alt="">
</div>
<div id="section2" class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-lg-7 mx-auto">
			<h3 class="pb-5">Skills</h3>
			<div class="row pb-4">

				<div class="col-sm-2 mx-auto skill-logo">
					<div class="skill-logo">
						<img src="../../assets/images/java.svg">
					</div>
				</div>
				<div class="col-sm-2 mx-auto skill-logo">
					<div class="skill-logo">
						<img src="../../assets/images/mysql.svg">
					</div>
				</div>

				<div class="col-sm-2 mx-auto skill-logo">
					<div class="skill-logo">
						<img src="../../assets/images/angular2.svg">
					</div>
				</div>
				<div class="col-sm-2 mx-auto skill-logo">
					<div class="skill-logo">
						<img src="../../assets/images/js.svg">
					</div>
				</div>
				<div class="col-sm-2 mx-auto skill-logo">
					<div class="skill-logo">
						<img src="../../assets/images/android.svg">
					</div>
				</div>

			</div>
			<hr class="style-one">
			<div class="row skills-font pb-1 pt-4 text-center">
				<div class="col-sm-6">
					<h4>Back-End + DB</h4>
					<p>Java, Spring + SQL, Struts, Firebase, Hibernate, Elastic Search</p>
				</div>
				<div class="col-sm-6">
					<h4>Tests</h4>
					<p>UT, Integration , TDD</p>
				</div>
			</div>
			<div class="row skills-font pb-1 text-center">
				<div class="col-sm-6">
					<h4>Front-end</h4>
					<p>HTML, CSS, Bootstrap, Ajax, JavaScript, Angular, Php</p>
				</div>
				<div class="col-sm-6">
					<h4>OS</h4>
					<p>Windows, Linux, Android</p>
				</div>
			</div>
			<div class="row skills-font pb-1 text-center">
				<div class="col-sm-6">
					<h4>Tools</h4>
					<p>Maven, Gradle, Git, npm, Yarn, Webpack</p>
				</div>
				<div class="col-sm-6">
					<h4>Big Data </h4>
					<p>Hadoop, Spark</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.5}'>
	<img class="jarallax-img" src="assets/images/keyboard.jpg" alt="">
</div>
<div id="section3" class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-lg-7 mx-auto">
			<h3 class="pb-5">Experience</h3>
			<app-experience>
				<div class="centered-element">
					<div class="loader"></div>
				</div>
			</app-experience>
		</div>
	</div>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.5}'>
	<img class="jarallax-img" src="assets/images/code.jpg" alt="">
</div>
<div id="section4" class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-lg-8 col-xl-7 mx-auto">
			<h3 class="pb-5">Projects</h3>
			<app-projects>
				<div class="centered-element">
					<div class="loader"></div>
				</div>
			</app-projects>
		</div>
	</div>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.5}'>
	<img class="jarallax-img" src="assets/images/motherboard.jpg" alt="">
</div>
<div id="section5" class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-lg-7 mx-auto">
			<h3 class="pb-5">Contact</h3>
			<app-form>
				<div class="centered-element">
					<div class="loader"></div>
				</div>
			</app-form>
		</div>
	</div>
</div>