<div class="container-fluid pt-5">
    <h4 class="pb-5">Messages <span class="badge badge-warning">{{ (messages$ | async)?.length }}</span></h4>
    <div class="col-sm-10">
        <div class="blog-post" *ngFor="let m of (messages$ | async)">
            <p>
                <span class="job-highlight">Email:</span> {{ m.email }}
                <span class="job-highlight">Phone:</span> {{ m.phone}}
            </p>
            <p>
                <span class="job-highlight">Contents:</span> {{ m.text }}
            </p>
            <hr class="style-two">
        </div>
    </div>
</div>